.input-field {
  position: relative;
}
.input-icon {
  position: absolute;
  left: 16px;
  top: 14px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: #b8babc;
}
.passwordShowHide {
  position: absolute;
  right: 16px;
  top: 14px;
  color: #b8babc;
  font-size: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.input-field input {
  padding-left: 44px;
  height: 41px;
}

.login-button {
  display: block;
  width: 100%;
  background-color: var(--main-color);
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px 14px;
  color: #fff;
  border-radius: 9px;
  font-weight: 600;
  transition: 0.3s ease-in;
}
.login-button:hover {
  background-color: #153cd4;
}
.forgotten-password {
  color: #686687;
  font-size: 14px;
  margin-top: 15px;
  font-weight: 600;
  text-decoration: none;
  display: block;
}
